<footer id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4><strong>{{ site.owner }}</strong>
        </h4>
        <p>
          im Kontor für Handel, Wandel und Gestaltung<br>
          {% for address in site.address %}
          {{ address.line }}<br>
          {% endfor %}
        </p>
        <ul class="list-unstyled">
          <li><i class="fa fa-phone fa-fw"></i> {{ site.telephone }}</li>
          <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <a href="http://stackoverflow.com/users/829133/sebastian-annies"><i class="fa fa-stack-overflow fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://de.linkedin.com/in/sebastianannies"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://www.xing.com/profile/Sebastian_Annies/"><i class="fa fa-xing fa-fw fa-3x"></i></a>
          </li>
        </ul>
        <hr class="small">
      </div>
    </div>
  </div>
</footer>
